#chat {
    display: flex;
    flex-direction: column;
    height: 600px;
    overflow-y: auto;
    max-width: 550px;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .user,
  .chatbot {
    display: inline-block;
    margin: 5px 10px;
    padding: 10px;
    border-radius: 20px;
    max-width: 70%;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }

  .user {
    align-self: flex-end;
    background-color: #ebebeb;
    color: #000;
    margin: 5px 10px;
    }

  .chatbot {
    align-self: flex-start;
    background-color: #ffffff;
    color: #000000;
    margin: 5px 10px;
    border: 1px solid #b2b2b2;
    border-radius: 20px;
    }

  h1 {
    text-align: center; 
    margin-top: 20px;
    }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 150px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    }

  input[type="text"] {
    width: 500px;
    height: 20px;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 20px;
    margin-right: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    outline: none;
    } 

  button[type="submit"] {
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #7b7c86;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-left: auto;
    }

    #topMenu {
      height: 40px;
      width: auto;
      margin: 20px;
    }
    
    #topMenu ul {
      display: flex;
      justify-content: center;
    }
    
    #topMenu ul li {
      list-style-type: none;
      color: black;
      background-color: #d6d6d6;
      line-height: 40px; /* 박스 높이 */
      vertical-align: middle;
      text-align: center;
    }
    
    #topMenu .menuLink {
      text-decoration: none;
      color: rgb(0, 0, 0); 
      display: block;
      width: 150px; /* 박스 양옆 너비*/
      font-size: 16px;
      font-weight: normal;
      font-family: "Trebuchet MS", Dotum, Arial;
    }
    
    #topMenu .menuLink:hover {
      color: red;
      background-color: #4d4d4d;
    }
    

  