<!DOCTYPE html>
<html>
<head>
    <title>Detection Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        h1 {
            display: flex;
            justify-content: center;
        }

        .chartview {
            display: flex;
            justify-content: center;
            align-items: center; /* 수직 중앙에 위치시킴 */
            height: 80vh; /* 뷰포트 높이로 설정 */
        }
    </style>

</head>
<body>
    <h1>detection visualization</h1>

    <div class="chartview">
        <canvas id="chart" width="600" height="600"></canvas>
        <canvas id="line-chart" width="1000" height="600"></canvas>
    </div>

    <div style="width:100%">
        <canvas id="vichart" height="400"></canvas>
    </div>


    <script>
        var chart_data = {{ chart_data | tojson }};
        var lineData = {{ line_data | tojson |safe }};


        var ctx1 = document.getElementById('chart').getContext('2d');
        var myChart = new Chart(ctx1, {
            type: 'doughnut',
            data: {
                labels: chart_data.map(function(d) { return d.name; }), //x축
                datasets: [{ //y축
                    label: 'Defect Count',
                    data: chart_data.map(function(d) { return d.value; }),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        console.log(myChart)

        var ctx2 = document.getElementById('line-chart').getContext('2d');
        var myLineChart = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: lineData.map(function(d) { return d.time; }),
                datasets: [{
                    label: 'Defect Count',
                    data: lineData.map(function(d) { return d.count; }),
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        console.log(myLineChart)

        // 실시간 데이터 업데이트
        setInterval(function() {
            // 도넛차트 데이터 업데이트
            $.ajax({
                url: '/data1',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    myChart.data.datasets[0].data = data.map(function(d) { return d.value; });
                    myChart.update();
                }
            });
        
            // 꺾은선 그래프 데이터 업데이트
            $.ajax({
                url: '/data2',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    myLineChart.data.datasets[0].data = data.map(function(d) { return d.count; });
                    myLineChart.data.labels = data.map(function(d) { return d.time; });
                    myLineChart.update();
                }
            });

        }, 1000); // ms
        
        // 진동데이터 차트
        var time_labels = {{ time_labels|tojson|safe }};
        var time_values = {{ time_values|tojson|safe }};

        var ctxLine = document.getElementById("vichart").getContext("2d");
        var chartLine = new Chart(ctxLine, {
            type: 'line',
            data: {
                labels: time_labels,
                datasets: [{
                    label: '진동 데이터',
                    data: time_values,
                    borderColor: 'rgba(255, 99, 132, 1)',
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderWidth: 2,
                    pointRadius : 0 //동그라미 포인터 크기 조정
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stepSize : 100 //y축 값 간격 조정
                        }
                    }]
                },
                title: {
                    display: true,
                    text : '진동 데이터',
                    fontSize: 16, // 제목 폰트 크기 조정
                    fontColor: 'black', // 제목 폰트 색상 조정
                    position: 'top', // 제목 위치 지정
                    padding: 20 // 제목과 차트 사이 간격 조정
                }
            }
        });

    </script>
</body>
</html>