<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='chat_style.css') }}">
</head>
<body>
    <h1>Chatbot</h1>
    <div class="menu-wrapper" style="position: absolute; top: 10; left: 20%; transform: translateX(-30%);">
        <button class="btn btn-outline-secondary btn-sm mr-2" type="button" onclick="location.href='/home' ">Home</button>
    </div>
    
    <!-- 채팅창 --> 
    <div id="chat"></div>
    <!-- 사용자 채팅 입력칸 -->
    <form onsubmit="return sendReq()">
        <div class="input-wrapper">
            <input type="text" id="req" name="req">
            <button type="submit" value="Send">Send</button>
        </div>
    </form>
    <!-- 채팅 입력 함수 -->
    <script type="text/javascript" src="{{ url_for('static', filename='chatting.js') }}"></script>
</body>
</html>
