<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='chat_style.css') }}">
</head>
<body>
    <h1>Chatbot</h1>
    <button type="button" onclick="location.href='/' ">Home</button>
    <div id="chat"></div>
    <form onsubmit="return sendReq()">
        <div class="input-wrapper">
            <input type="text" id="req" name="req">
            <button type="submit" value="Send">Send</button>
        </div>
    </form>

    <script>
        function sendReq() {
            var req = document.getElementById("req").value;
            var chat = document.getElementById("chat");
            var xhr = new XMLHttpRequest(); //app.py의 chat()함수에서 반환된 res 받아오려고..
            xhr.onreadystatechange = function() {
              if (xhr.readyState == 4 && xhr.status == 200) {
                var res = xhr.responseText; //app.py의 chat()함수에서 반환된 res 받아오려고..

                var user_input = document.createElement("p");
                user_input.innerText = req;
                user_input.classList.add("user");
                chat.appendChild(user_input);

                if(res == '실시간 상황입니다.'){
                    var chatbot_output = document.createElement("p");
                    var chatbot_output_link = document.createElement("a"); // 하이퍼링크 생성
                    chatbot_output_link.href = "/webcam_feed"; // href 속성 지정
                    chatbot_output_link.target = "_blank"; // 새 창에서 열기
                    chatbot_output_link.innerText = "\n->실시간 상황 보러가기"; // 링크 텍스트 지정
                    chatbot_output.appendChild(document.createTextNode(res)); // 문자열 추가
                    chatbot_output.appendChild(chatbot_output_link); // 링크 추가
                    chatbot_output.classList.add("chatbot");
                    chat.appendChild(chatbot_output);
                }
                
                else {
                    var chatbot_output = document.createElement("p");
                    chatbot_output.innerText = res;
                    chatbot_output.classList.add("chatbot");
                    chat.appendChild(chatbot_output);
                }
                
                chat.scrollTop = chat.scrollHeight; //자동스크롤
              }
            };
            xhr.open("POST", "/chat", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("req=" + req);
            document.getElementById("req").value = "";
            return false;
          }
          
    </script>
</body>
</html>
