<!--chatting.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='chat_style_test.css') }}">
    <style>
        h1 {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <div class="top">
        <h1>Chatbot</h1>
        <button class="menu-btn" type="button" onclick="location.href='/home' ">Quit</button>
    </div>
    <div id="chat"></div>
    <form onsubmit="return sendReq()">
        <input type="text" id="req" name="req">
        <button type="submit">Send</button>
    </form>
    <!-- 채팅 입력 함수 -->
    <script type="text/javascript" src="{{ url_for('static', filename='chatting_test.js') }}"></script>
    
</body>
</html>